.env
back/app/__pycache__
back/app/users/__pycache__
back/app/movies/__pycache__
back/app/users/migrations/__pycache__
back/app/movies/__pycache__
back/app/movies/migrations/__pycache__
back/app/realisators/__pycache__
back/app/realisators/migrations/__pycache__
back/app/actors/__pycache__
back/app/actors/migrations/__pycache__
back/app/categories/__pycache__
back/app/categories/migrations/__pycache__
back/app/images/__pycache__
back/app/images/migrations/__pycache__
back/db.sqlite3
back/app/users/migrations/__pycache__/__init__.cpython-313.pyc
back/app/users/migrations/__pycache__/0001_initial.cpython-313.pyc
back/app/movies/migrations/__pycache__/0001_initial.cpython-311.pyc
back/app/movies/migrations/__pycache__/__init__.cpython-311.pyc
back/app/users/migrations/__pycache__/__init__.cpython-311.pyc
back/app/movies/__pycache__/__init__.cpython-313.pyc
back/app/movies/__pycache__/apps.cpython-313.pyc
back/app/users/migrations/__pycache__/0001_initial.cpython-311.pyc